* {
  box-sizing: border-box;
}
body,
ul,
li,
h1,
h2,
h3 p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  color: #345;
  background: url('src/assets/img/pattern.svg') repeat top;
  a {
    color: #000;
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: 0.4s;
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
.main {
  flex: 1;
}
img {
  max-width: 100%;
}
.btn {
  display: block;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  background: #87f;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 px 8px rgba(30, 60, 90, 0.2);
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;

  &:hover {
    background: #65d;
  }
}
